@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="img" src="/cartoon-man-with-to-do-list-on-clipboard-vector.jpg" alt="todo image" />
    <a asp-controller="todolist" asp-action="Index" class="btn btn-primary bg-gradient  w-50 py-2 text-uppercase fw-semibold">Get Started</a>
</div>
